.content {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 52px max-content auto;
    margin: 50px 0 50px 50px;
    justify-content: left;
    overflow-x: auto;
    padding: 10px;
    
}

.table{
    grid-column: 2/3;
    grid-row: 2/3;
    border: 2px solid #46ace7;
    display: block;
  
}

.cell{
    background-color: #46ace7;
    width: 50px;
    height: 50px;
   
}

.btn {
    border: none;
    padding: 0;
    /*position: relative;*/
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: white;
}

.btn-add {
    background-color: #f3a700;
}

.btn-add:hover {
    background-color: #f6c151;
}

.btn-add-column {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 4px 0 0 2px;
}

.btn-add-row {
    grid-column: 2/3;
    grid-row: 3/4;
    margin:2px 0 0 4px;
}



.btn-remove {
    position: relative;
    visibility: hidden;
    background-color: #b40000;
    -webkit-transition: top 0.3s, left 0.3s, visibility 0.1s;
    -moz-transition: top 0.3s, left 0.3s, visibility 0.1s;
    -o-transition: top 0.3s, left 0.3s, visibility 0.1s;
    transition: top 0.3s, left 0.3s, visibility 0.1s;
}

.btn-remove:hover {
    background-color: #cb4b47;
}

.btn-remove-visible {
    visibility: visible;
}

.btn-remove-row {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 2px 0 0 0;
}

.btn-remove-column {
    grid-column: 2/3;
    grid-row: 1/2;
    margin:0 0 2px 2px;
}
.btn:focus {
    outline: 2px solid #46ace7;
    outline-offset: 2px;
}